<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="app.log.directory" value="log" />
		<add key="app.log.file" value="app.log" />
		<add key="error.log.file" value="error.log" />
		<add key="vendor.index.url" value="https://t.me/s/coronavirus2020_kz" />
	</appSettings>
</configuration>
